@model Web_ASP_NET.Context.User
@{
    ViewBag.Title = "Login";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Đăng nhập</h4>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <a href="#" class="btn btn-facebook btn-block mb-2">
                    <i class="fab fa-facebook-f"></i> &nbsp; Đăng nhập bằng Facebook
                </a>
                <a href="@Url.Action("LoginWithGoogle", "Account")" class="btn btn-google btn-block mb-4">
                    <i class="fab fa-google"></i> &nbsp; Đăng nhập bằng Google
                </a>

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div> <!-- form-group// -->
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                </div> <!-- form-group// -->

                <div class="form-group">
                    <a href="#" class="float-right">Quên mật khẩu?</a>
                    <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Nhớ mật khẩu </div> </label>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary btn-block" value="Login"> Đăng nhập  </button>
                </div> <!-- form-group// -->
            }
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Bạn chưa có tài khoản? <a href="@Url.Action("Register", "Home", new {})">Đăng ký</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->